<a href="https://colab.research.google.com/github/akifnawab038/-ASSIGNMENT-3-functions-/blob/main/ASSIGNMENT_3_FUNCTIONS_PRACTIAL_Q%26A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT 3:

#FUNCTIONS

###PRACTIAL QUESTIONS.

**1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.**

In [ ]:
def sumeve(num):
  sum_even = 0
  for num in num:
    if num % 2 == 0:
      sum_even += num
  return sum_even

num = [1, 2, 3, 4, 5, 6, 7, 8]
result = sumeve(num)
print(result)

20

**2. Create a Python function that accepts a string and returns the reverse of that string.**

In [ ]:
def reverse_str(str1):
  reverse = str1[::-1]
  return reverse

str1 = "Hello World"
result = reverse_str(str1)
print(result)

dlroW olleH

**3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.**

In [ ]:
def square_numbers(numbers):

  squared_numbers = []
  for num in numbers:
    squared_numbers.append(num**2)
  return squared_numbers

square_numbers([1, 2, 3, 4, 5])

[1, 4, 9, 16, 25]

**4. Write a Python function that checks if a given number is prime or not from 1 to 200**

In [ ]:
def IS_prime(number):
  if number <= 1:
    return False
  if number <= 3:
    return True
  if number % 2 == 0 or number % 3 == 0:
    return False

  i = 5
  while i * i <= number:
    if number % i == 0 or number % (i + 2) == 0:
      return False
    i += 6

  return True


for number in range(1, 201):
  if is_prime(number):
    print(number)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

**5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.**

In [ ]:
class Fibonaci:
  def __init__(self):
    self.n2 = 1
    self.n3 = 1
  def __iter__(self):
    return self
  def __next__(self):
    self.n1 = self.n2
    self.n2 = self.n3
    self.n3 = self.n1 + self.n2
    return self.n1

fib = Fibonaci()
for i in range(10):
  print(next(fib))

1
1
2
3
5
8
13
21
34
55

**6. Write a generator function in Python that yields the powers of 2 up to a given exponent.**

In [ ]:
def powers_of_two(exponent):
    if exponent >= 0:
        yield 2 ** exponent
        yield from powers_of_two(exponent - 1)

exponent = 5
for power in powers_of_two(exponent):
    print(power)

32
16
8
4
2
1

**7. Implement a generator function that reads a file line by line and yields each line as a string.**

In [ ]:
def read_file_lines(filename):
    try:
        with open(filename, 'r') as file:
            for line in file:
                yield line.rstrip()
    except FileNotFoundError:
        print(f"Error: File '{filename}' not found.")

filename = "my name is md akif nawab"
for line in read_file_lines(filename):
    print(line)

Error: File 'my name is md akif nawab' not found.

**8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple**

In [ ]:
tuples_list = [(1, 3), (4, 2), (2, 5), (6,7)]
sorted_tuples = sorted(tuples_list, key=lambda x: x[1])

print(sorted_tuples)

[(4, 2), (1, 3), (2, 5), (6, 7)]

In [ ]:
def cels(celsius):

    return (celsius * 9/5) + 32

temperatures_celsius = [25, 30, 35]

temperatures_fahrenheit = list(map(cels, temperatures_celsius))

print(temperatures_fahrenheit)

[77.0, 86.0, 95.0]

**10. Create a Python program that uses `filter()` to remove all the vowels from a given string**

In [ ]:
def remove_vowels(string):
    vowels = "aeiouAEIOU"
    return "".join(char for char in string if char not in vowels)

string = "Hello, world!"
result = filter(lambda char: char not in "aeiouAEIOU", string)
result_string = "".join(result)
print(result_string)

Hll, wrld!

**11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:**

In [ ]:
def calculate_order_value(order_data):
    order_number, _, quantity, price_per_item = order_data
    total_price = quantity * price_per_item
    if total_price < 100:
        total_price += 10
    return (order_number, total_price)

order_list = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "EinfÃ¼hrung in Python3, Bernd Klein", 3, 24.99]
]

result_list_comprehension = [calculate_order_value(order) for order in order_list]

result_lambda_map = list(map(calculate_order_value, order_list))

print("Result using list comprehension:", result_list_comprehension)
print("Result using lambda and map:", result_lambda_map)

Result using list comprehension: [(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]
Result using lambda and map: [(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]